@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/fonts/Candy.ttf');
  /* 字体文件路径 */
  font-display : swap;
}

@font-face {
  font-family: 'HanyiYahei';
  src: url('/fonts/HanYiYaHei.ttf');
  font-display: wrap;
}

@font-face {
  font-family: 'CircleBlack';
  src: url('/fonts/CircleBlack.ttf');
  font-display: wrap;
}
@font-face {
  font-family: 'ajLangMan';
  src: url('/fonts/ajLangMan.ttf');
  font-display: wrap;
}
@font-face {
  font-family: 'SSblack';
  src: url('/fonts/shishangblack.ttf');
  font-display: wrap;
}

@font-face {
  font-family: 'Love';
  src: url('/fonts/loving.ttf');
  font-display: wrap;
}

h1#site-title, #site-subtitle {
  font-family: 'ajLangMan', 'Candyhome', sans-serif;
}

/* 文章内容 */
.post-content, #article-containner {
  font-size: 16px;
  /* font-family: 'Love', 'SSblack', sans-serif; */
}


/* 全局背景透明渐变 */
/* #recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_bg_color)
}

#aside-content .card-widget {
    background: var(--light_bg_color)
}

#web_bg {
    background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))
} */



/* 除了主页外，其他页面顶部图片设置近似透明 */
/* header#page-header {
    background: #00000000;
} */

/* #page-header.post-bg:before{
    background: #00000000;
    /* color: #49B1F5; 
} */


/* 网站颜色配置 */


/* [data-theme="light"] #rightside>div>button,
#rightside>div>a {
  background-color: #7e7bd5cf;
}

[data-theme="light"] #aside-content .card-info #card-info-btn {
  background-color: #7e7bd5cf;
}

[data-theme="light"] .button--animated:before {
  background: #ec63a1e0;
} */

/* #footer{
  background: 0 0 !important;
} */




/* Aplayer栏目ui配置 */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}


/* 12生肖图标 */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

