@font-face{
  font-family:'Candyhome' ;  /* 字体名自定义即可 */
  src:url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/fonts/Candy.ttf');
  /* 字体文件路径 */
  font-display : swap;
}

@font-face {
  font-family: 'HanyiYahei';
  src: url('/fonts/HanYiYaHei.ttf');
  font-display: wrap;
}

@font-face {
  font-family: 'CircleBlack';
  src: url('/fonts/CircleBlack.ttf');
  font-display: wrap;
}
@font-face {
  font-family: 'ajLangMan';
  src: url('/fonts/ajLangMan.ttf');
  font-display: wrap;
}


h1#site-title, #site-subtitle {
  font-family: 'ajLangMan', 'Candyhome', sans-serif;
}

/* 文章内容 */
.post-content, #article-containner {
  font-size: 16px;
}


/* 除了主页外，其他页面顶部图片设置近似透明 */
header#page-header {
    background: #00000000;
}

#page-header.post-bg:before{
    background: #00000000;
    /* color: #49B1F5; */
}


/* 网站颜色配置 */



/* 全局默认鼠标指针 */
body,
html{
  cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Arrow.cur'),
  auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
  cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Hand.cur'),
  auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Hand.cur'),
    auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/IBeam.cur'),
    auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Hand.cur'),
    auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Hand.cur'),
    auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Hand.cur'),
      auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Hand.cur'),
      auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Hand.cur'),
      auto;
}
.post-meta-date{
    cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Arrow.cur'),
    auto;
}
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap > .post-meta-date {
    cursor: url('https://cdn.jsdelivr.net/gh/ajream/ajream.github.io/mouse/Arrow.cur'),
    auto;
}



/* SAOUI字体精简包，仅73KB */
/* @font-face{
  font-family: 'SAOUI';
  src: url('https://cdn.jsdelivr.net/npm/akilar-candyassets/fonts/SAOUI.ttf');
  font-display: swap;
} */

/* 公告栏配置 */
#aside-content .card-widget {
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background: var(--card-bg);
  -webkit-box-shadow: var(--card-box-shadow);
  box-shadow: var(--card-box-shadow);
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

/* 应用于除了作者卡片以外的所有侧栏卡片 */
.card-widget:not(.card-info) {
  overflow: visible !important;
  margin-bottom: 45px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 0px !important;
  font-family: 'SAOUI' !important;
  color: rgba(60,60,61,0.7) !important;
  font-weight: bold;
}
/* 修复一下对侧栏电子钟的覆盖 */
.card-widget.card-clock {
  overflow: hidden !important;
  border-radius: 8px !important;
}
/* 定义标题栏的定位方式为绝对定位 */
.item-headline {
  font-family: 'SAOUI' !important;
  color: rgba(60,60,61,0.7) !important;
  font-weight: bold;
  position: absolute;
  z-index: 4;
  height: 27px;
  /* height: 10px; */
  width: 65%;
  top: -27px;
  left: 7px;
}
/* 标题栏下各元素的层级，保证它们能显示在伪类之上 */
.item-headline i {
  position: relative;
  top: 0px;
  margin-left: 5%;
  z-index: 2;
}
.item-headline span {
  position: relative;
  top: 0px;
  z-index: 2;
}
.item-headline a {
  position: relative;
  top: 0px;
  z-index: 2;
}
/* 梯形伪类 */
.item-headline:after {
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  bottom: 0;
  left: -3px;
  z-index: 1;
  background: rgba(255,255,255, 1);
  border: 1px solid rgba(255,255,255,0.9);
  border-bottom: 0 solid #fff;
  /* 关键形变 */
  transform: perspective(20px) rotateX(3deg);
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
/* 下划线伪类 */
.item-headline:before {
  display: block;
  width: 140%;
  margin-top: 2px;
  height: 2px;
  content: '';
  background: rgba(160,159,160,0.9);
  border-radius: 5px;
  top: 40px;
  left: 0;
  position: relative;
}
/* 针对手机样式的偏移量调整 */
@media screen and (max-width: 800px) {
  .item-headline {
    left: 8px;
  }
}
/* 夜间模式色彩适配，此处仅代表糖果屋夜间模式配色 */
[data-theme="dark"] .card-widget:not(.card-info) {
  color: rgba(255,255,255,0.7) !important;
}
[data-theme="dark"] .item-headline {
  color: rgba(255,255,255,0.7) !important;
}
[data-theme="dark"] .item-headline:after {
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.5);
  border-bottom: 0 solid rgba(0,0,0,0.5);
}
[data-theme="dark"] .item-headline:before {
  background: rgba(255,255,255,0.9);
}



/* [data-theme="light"] #rightside>div>button,
#rightside>div>a {
  background-color: #7e7bd5cf;
}

[data-theme="light"] #aside-content .card-info #card-info-btn {
  background-color: #7e7bd5cf;
}

[data-theme="light"] .button--animated:before {
  background: #ec63a1e0;
} */

#footer{
  background: 0 0 !important;
}




/* Aplayer栏目ui配置 */

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}


/* 12生肖图标 */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

