
@font-face {
  font-family: "iconfont"; /* Project id 2746409 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/font_2746409_mk5haogcrtc.woff2?t=1629768680610') format('woff2'),
       url('//at.alicdn.com/t/font_2746409_mk5haogcrtc.woff?t=1629768680610') format('woff'),
       url('//at.alicdn.com/t/font_2746409_mk5haogcrtc.ttf?t=1629768680610') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjian:before {
  content: "\e670";
}

.icon-youjian1:before {
  content: "\e64e";
}

.icon-git-copy:before {
  content: "\e602";
}

.icon-zhihu:before {
  content: "\eac3";
}

.icon-youxiang:before {
  content: "\e603";
}

.icon-wangyiyunyinle:before {
  content: "\e601";
}

.icon-kugoulingsheng:before {
  content: "\eaf9";
}

.icon-qqyinle:before {
  content: "\e9b7";
}

.icon-wenzhang:before {
  content: "\e712";
}

.icon-bilibili1:before {
  content: "\e68d";
}

.icon-Bilibili:before {
  content: "\e627";
}
